<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="text/html; charset=iso-8859-2" http-equiv="Content-Type">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
    .mySlides {display:none;}
    </style>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="icon" href="{% static 'aquaNRG/images/logo.png' %}">
    <title>AquaNRG</title>
    <style>
      /* Set the size of the div element that contains the map */
     #map {
       height: 400px;  /* The height is 400 pixels */
       width: 100%;  /* The width is the width of the web page */
      }
   </style>
   <link rel="stylesheet" href="{% static 'aquaNRG/styles/style.css' %}">
   
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-custom-2 mb-4 shadow" >
      <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static 'aquaNRG/images/logo.png' %}" height=40 width=120 class="d-inline-block align-top"/>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"  
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link home-link active" href="{% url 'home' %}"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="{% static 'aquaNRG/pdfs/about.pdf' %}"> 
              About Us <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link map-link" href="#mapdiv"
              >Map <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#phone_no"
              >Contact Us <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#mail_us"
              >Mail Us <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin:index' %}"
              >Admin <span class="sr-only">(current)</span></a
            >
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <div class="jumbotron py-4 shadow rounded mb-3 border-info" style="border-radius: 10%;background: linear-gradient(to left, #cc99ff 0%, #ffffff 100%);">
        <img src="{% static 'aquaNRG/images/logo.png' %}" style="max-width: 300px;text-shadow: 2px 2px 5px blue;color: yellow;">
        <p class="lead" style="font-style: oblique;"><strong>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque animi
          debitis et corrupti illum dolore nesciunt laudantium corporis soluta,
          autem facilis ratione voluptatem dolor mollitia dolores molestias, at
          minima nisi? Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          Eibus, minus
          consectetur? Quo. Lorem ipsum dolor, sit amet consectetur adipisicing
          elit. Minima veritatis cupiditate, sed labore porro maxime, suscipit
          itaque culpa animi fugiat corporis doloribus, dicta voluptatum in
          nobis impedit fuga totam libero!</strong>
        </p>
      </div>
    </div>
    <h2 class="footer-copyright text-center pb-3" style="text-shadow: 2px 2px 5px blue;color: white;"><small>Here We are</small></h2><hr>
    <div class="w3-content w3-section container" style="max-width:100%;">
      <img class="mySlides shadow rounded" src="{% static 'aquaNRG/images/7.jpeg' %}" style="width:100%;height: 300px;">
      <img class="mySlides shadow rounded" src="{% static 'aquaNRG/images/wa.jpg' %}" style="width:100%;height: 300px;">
    </div>
    
    <div class="container container-fluid">    
    <hr>
      <div class="row images">
        <div class="col-6 col-xl-6 text-center rounded mb-3 border-info">
          <a href="{% static 'aquaNRG/images/1.jpeg' %}">
            <img class="img-thumbnail p-1 shadow rounded bg-white" src="{% static 'aquaNRG/images/1.jpeg' %}"/>
          </a>
        </div>
        <div class="col-6 col-xl-6 text-center rounded mb-3 border-info">
          <a href="{% static 'aquaNRG/images/2.jpeg' %}">
            <img class="img-thumbnail p-1 shadow rounded bg-white" src="{% static 'aquaNRG/images/2.jpeg' %}"/>
          </a>
        </div>
        <div class="col-6 col-xl-6 text-center rounded mb-3 border-info">
          <a href="{% static 'aquaNRG/images/3.jpeg' %}">
            <img class="img-thumbnail p-1 shadow rounded bg-white" src="{% static 'aquaNRG/images/3.jpeg' %}"/>
          </a>
        </div>
        <div class="col-6 col-xl-6 text-center rounded mb-3 border-info">
          <a href="{% static 'aquaNRG/images/4.jpeg' %}">
            <img class="img-thumbnail p-1 shadow rounded bg-white" src="{% static 'aquaNRG/images/4.jpeg' %}"/>
          </a>
        </div>
        <div class="col-6 col-xl-6 text-center rounded mb-3 border-info">
          <a href="{% static 'aquaNRG/images/5.jpeg' %}">
            <img class="img-thumbnail p-1 shadow rounded bg-white" src="{% static 'aquaNRG/images/5.jpeg' %}"/>
          </a>
        </div>
        <div class="col-6 col-xl-6 text-center rounded mb-3 border-info">
          <a href="{% static 'aquaNRG/images/6.jpeg' %}">
            <img class="img-thumbnail p-1 shadow rounded bg-white" src="{% static 'aquaNRG/images/6.jpeg' %}"/>
          </a>
        </div>
      </div>
    </div>
          <div id="mapdiv" class="mapouter container mystyle mapdiv jumbotron py-4 text-center shadow bg-white rounded mb-5"><div class="gmap_canvas"><iframe id="gmap_canvas" src="https://maps.google.com/maps?q=aqua%20nrg%2Cshyamnagar%20&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div><style>.mapouter{position:relative;}.gmap_canvas {overflow:hidden;}</style></div>
     
    <div id="footer">
      <div class="my-3">
        <div class="card text-center text-light bg-dark">
        <div class="card-header">
        Lorem ipsum dolor sit amet co
        </div>
        <div class="card-body">
          <h5 class="card-title">For More Details:</h5>
          <p id="phone_no" class="card-text text-info"><em><strong>Call Us : </strong></br></em>8420822093</br>8420822093</br>8420822093</p>
          <a id="mail_us" href="mailto:pritamsarkar84208220@gmail.com" class="btn btn-primary">Mail Us</a>
        </div>
        <div class="card-footer text-light">
        {% now 'Y' %}
        </div>
      </div>
        </div>
    </footer>
    <!-- Footer -->
    </div>
    
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'aquaNRG/scripts/script.js' %}"></script>
    <script>
      var myIndex = 0;
      carousel();
      
      function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
          x[i].style.display = "none";  
        }
        myIndex++;
        if (myIndex > x.length) {myIndex = 1}    
        x[myIndex-1].style.display = "block";  
        setTimeout(carousel, 3000); // Change image every 2 seconds
      }
      </script>
  </body>
</html>